mkautodoc==0.1.0
mkdocs-material==6.1.2
attrs==19.3.0
configuror==0.2.0
trio==0.17.0
gevent==20.9.0
selenium==3.141.0
idna>=2.0.0,<3.0.0
rfc3986==1.4.0
httpx==0.12.1
parsel==1.6.0
msgpack==1.0.0
fake-useragent==0.1.11